<!-- HOMEPAGE -->
<!DOCTYPE html>
<html lang="en">

<!--START OF THE HEAD SECTION -->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- TITLE -->
  <title>ADMIN ZALERT</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- TITLE ICON-->
  <link href="static/images/ZALERT_logo.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- GOOGLE FONTS -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!--EXTERNAL CSS -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>
<!--END OF HEAD SECTION -->

<!--START OF BODY SECTION -->

<body>

  <!-- SCRIPT ALERT FUNCTION-->
  {% if success == True %}
  <script>
    alert("Location Uploaded Successfully");
  </script>
  {% elif success == 0 %}
  <script>
    alert("Enter Proper Location data");
  </script>
  {% endif %}
  <!-- SCRIPT ALERT FUNCTION ENDS-->

  <!--  HEADER STARTS  -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- HEADER LOGO -->
      <img src="static/images/ZALERT_logo.png" alt="logo" width="80" height="80" style="border-radius: 50%;">
      <h1 class="logo">ZAlert Admin</h1>

      <!-- NAVBAR ENDS -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="/data">Containment Zones</a></li>
          <li><a class="nav-link scrollto" href="#cont">Contact</a></li>
          <li><a class="getstarted scrollto" href="/logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- NAVBAR ENDS -->
    </div>
  </header>
  <!--  HEADER ENDS -->


  <!-- HERO SECTION STARTS -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Declare Containment Zones</h1>
          <div><a href="#about" class="btn-get-started scrollto">CLICK HERE</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="static/images/warning.png" class="img-fluid animated" alt="logo">
        </div>
      </div>
    </div>
  </section>
  <!-- HERO SECTION ENDS -->


  <!-- MAIN STARTS-->
  <main id="main">

    <!-- ABOUT SECTION STARTS-->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0g8TV2UoLZDQQDDqGmMpFbMqFR6XlZmMjUeSZnIdA1YKgwiURcJ4_uJ4PQlkoEa4jHx4&usqp=CAU"
              class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>CONTAINMENT ZONES</h3>
            <p class="fst-italic">
              Containment zones are created to map and prevent local transmission.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Helps people to identify the zones.</li>
              <li><i class="bi bi-check-circle"></i> The Rapid Response Team (RRT) identifies containment zones based on
                the extent of cases/contacts listed and mapped by them..</li>
              <li><i class="bi bi-check-circle"></i> Saves lives by not entering the infected zones</li>
            </ul>
            <a href="#zones" class="read-more">Declare now <i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section>
    <!-- ABOUT SECTION ENDS -->


    <!-- ZONES SECTION STARTS -->
    <div id="zones">
      <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Declaring Containment Zones</h2>
            <p>Enter the longitude and latitude to declare a containment zones or Click get CURRENT LOCATION to get ur
              location</p>
          </div>

          <div class="row">
            <div class="formcss">
              <center>
                <div class="col-lg-6">
                  <form method="POST" action="/home">
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" class="form-control" id="lat" name="lat" placeholder="Enter Latitude" />
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" id="lon" name="lon" placeholder="Enter Longitude" /><br>
                      </div>

                      <div class="text-center"><button type="button" class="btn btn-warning" onclick="getLocation()">Get
                          Location</button></div>
                      <div class="text-center"><br><button type="submit">Declare it as containment zone</button></div>
                  </form>
                </div>
              </center>
            </div>
          </div>

        </div>
      </section>
    </div>
    <!-- ZONE SECTION ENDS -->


    <!-- INTEGRATING GOOGLE MAPS (DEVELOPMENT PURPOSE MAPS)-->
    <center>
      <div id="map_disp" style="height: 500px;width: 900px;"></div>
    </center>



    <!-- CONTACTS SECTION -->
    <div id="cont">
      <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Contact</h2>
            <p>In case of any queries, Contact us using the below mentioned ways</p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Chennai, TamilNadu</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>zalertadmin@gmail.com</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+91 98765 43210</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CONTACT SECTION ENDS -->
    </div>
  </main>
  <!-- MAIN ENDS-->


  <!-- FOOTER SECTION STARTS -->
  <div class="container">
    <footer>
      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Zalert</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">Team Zalert</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
  </div>
  </footer>
  <!-- FOOTER SECTION STARTS -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <!-- JS FILES -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="https://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js"></script>



  <!-- SCRIPT FUNCTION STARTS-->
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("No location");
      }
    }
    function showPosition(position) {
      $('#map_disp').locationpicker({
        location: {
          latitude: position.coords.latitude,
          longitude: position.coords.longitude
        },
        radius: 0,
        inputBinding: {
          latitudeInput: $('#lat'),
          longitudeInput: $('#lon'),
        },
        enableAutocomplete: true,
        onchanged: function (currentLocation, radius, isMarkerDropped) {
        }
      });
    }
  </script>
  <!-- SCRIPT FUNCTION ENDS -->

</body>
<!--END OF BODY SECTION -->

</html>
<!--END OF HOME PAGE -->