<!-- REGISTER PAGE -->
<!DOCTYPE html>

<!--START OF THE HEAD SECTION -->

<head>
  <!--TITLE -->
  <title>Zalert Admin</title>

  <!--EXTERNAL CSS -->
  <link href="static/css/index.css" rel="stylesheet">

  <!--BOOTSTRAP LINKS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!--JS LINKS -->
  <script src="https://kit.fontawesome.com/8e99297c05.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

</head>
<!--END OF HEAD SECTION -->

<!--START OF BODY SECTION -->

<body>
  <div class="login-box">
    <h2>Admin Register Page</h2><br>

    <!--REGISTER FORM STARTS -->
    <form action="/reg" method="POST">
      <div class="user-box">
        <input type="text" name="email">
        <label>Enter your Email Address</label>
      </div>
      <div class="user-box">
        <input type="password" name="password">
        <label>Enter your Password</label>
      </div>

      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <button type="submit" class="btn btn-outline-info btn-rounded">Register</button>
      </a><br>
      <a href="#" class="btn btn-outline-info btn-rounded">Already have account? Click to login</a>
    </form>
    <!--REGISTER FORM ENDS -->
  </div>
</body>
<!--END OF BODY SECTION -->

</html>
<!--END OF REGISTER PAGE -->